.App {
  text-align: center;
  color: #3e3e3e;
  background-color: white;
}

.navbar {
  display: flex;
  background-color: rgba(66, 164, 255, 0.712);
  justify-content: space-around;
}

h2 {
  color: #3e3e3e;
}

.CardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  margin: auto;
  height: 8em;
  width: 8em;
  margin: 1em 1em;
  border: none;
  background-color: white;
}

button:active {
  background-color: rgba(255, 65, 65, 0.699);
}
